{{!-- Dashboard for the user to see their posts and options to add new ones --}}
<h2>Dashboard</h2>
{{#if posts.length}}
    <div class="user-posts">
        {{#each posts}}
            <div class="post">
                <h3>{{this.title}}</h3>
                <p>{{this.content}}</p>
                <button class="edit-post">Edit</button>
                <button class="delete-post">Delete</button>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>You have not created any posts yet.</p>
{{/if}}
<button class="new-post">Add New Post</button>
